body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    font-family: 'roboto condensed', 'sans-serif';
    line-height: 1.5;
}

#Menu {
    position: relative;
    border-radius: 10em;
    display: -webkit-box;
    list-style: none;
    background: #1111;
    box-shadow: 20px 20px 20px #000000;
    border: 2px solid white;
    padding: 11px;
}

li a {
    font-size: medium;
    color: white;
    padding: 9px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(46, 45, 45);
    color: white;
}